
.search-input{

  width: 50%;
  height: 30px;
}
.repo-card{
  padding: 20px 15px;
  min-height: 400px;
  margin: 20px 0;
}
.repo-card img{
 height: 100px;
 width: 100px;
}
.repos-des{
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
          line-clamp: 3; 
  -webkit-box-orient: vertical;
}
.repo-card .dev {
  font-weight: 600;
  color: purple;
}
.repo-card .dev span{
  background-color: rgba(67, 241, 186, 0.739);
  padding: 2px 5px;
  border-radius: 6px;
  text-decoration: underline;
}
.forks{
  margin: 10px 0;
  font-weight: 600;
}
.forks span{
  background-color: rgba(67, 241, 67, 0.739);
  padding: 2px 5px;
  border-radius: 6px;
  text-decoration: underline;
}